#
# This lists the files that should not be checked in to git
#
# Taken from: 
#       https://github.com/github/gitignore/blob/master/Global/VisualStudio.gitignore
#
##############################################################
ImageProcessor.v11.suo
ImageProcessor/bin/Debug/

